@import 'reset';
@import 'common';
@import 'base';

// Project-specific variables
$answer-background-color: $blue;
$answer-background-color--hover: lighten($answer-background-color, 5%);
$answer-background-color--selected: $green;
$answer-background-color--selected-hover: lighter($answer-background-color--selected, 5%);
$answer-text-color: $white;

$main-window-margin: 20px;
$main-window-margin-mobile: 15px;
$main-window-padding: 20px;
$main-window-padding-mobile: 15px;
$answer-margin-size: 15px;
$answer-margin-size-mobile: 5px 5px 10px;
$answer-margin-size-big-mobile: $answer-margin-size $answer-margin-size 10px;
$min-answer-height: 150px;
$min-answer-height-mobile: 100px;
$min-answer-width: 250px;
$query-size: 640px;


// Project-specific styles
* {
  box-sizing: border-box;
}

html,
body {
  @media (max-width: $query-size) {
    min-height: 100%;
  }
}

body {
  background-color: desaturate(darken(blue, 40%), 70%);
  display: flex;
  justify-content: center;
}

.main-window {
  @extend .no-select;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 632px; // Yay magic numbers because I don't feel like doing math!
  justify-content: space-between;
  margin: 40px $main-window-margin $main-window-margin;
  flex-basis: 870px;
  flex-shrink: 1;
  padding: $main-window-padding;

  @media (max-width: $query-size) {
    height: auto;
    margin: $main-window-margin-mobile;
    min-height: calc(100vh - #{$main-window-margin-mobile * 2});
    padding: $main-window-padding-mobile;
  }

  &-question-section {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    &.visible {
      display: flex;
    }
  
    &-footer {
      display: flex;
      justify-content: space-between;
      margin-top: $answer-margin-size;
    }
  }

  
  &-splash-section {
    $splash-spacing: 40px;
    align-items: center;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.visible {
      display: flex;
    }

    &-logo {
      margin-bottom: $splash-spacing;

      @media (max-width: $query-size) {
        width: 300px;
      }
    }

    &-title {
      margin-bottom: $splash-spacing;
      text-align: center;
    }
  }

  &-result-section {
    $result-img-size: 256px;
    $result-spacing: 40px;
    align-items: center;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.visible {
      display: flex;
    }

    &-description {
      font-size: 1.6rem;
      margin-bottom: $result-spacing * 2;
      text-align: center;
    }

    &-img {
      height: $result-img-size;
      margin-bottom: $result-spacing;
      width: $result-img-size;
    }

    &-title {
      font-size: 3rem;
      margin-bottom: $result-spacing;
      text-align: center;
    }
  }
}


@mixin btn-color($text-color, $background-color, $border-color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $text-color;

  &:not(:disabled):hover {
    background-color: lighten($background-color, 5%);
  }

  &:not(:disabled):active {
    background-color: darken($background-color, 5%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .6;
    background-color: desaturate($background-color, 50%);
  }
}

.btn {
  @extend .no-select;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  outline: none;

  transition-property: background-color;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;

  &-red {
    @include btn-color($red, #ddd, #bbb);
  }

  &-blue {
    @include btn-color($white, $blue, lighten($blue, 10%));
  }

  &-big {
    font-size: 1.5rem;
  }
}

.reset-button {
  align-self: center;
}

.next-button {
  align-self: flex-end;
}

.question {
  display: none;

  &.visible {
    display: block;
  }
}

.question-title {
  margin-bottom: $answer-margin-size;
  text-align: center;
}

.question-prompt {
  font-size: 1.6rem;
  margin-bottom: $answer-margin-size;
  text-align: center;
}

.answer-container {
  display: flex;
  color: $answer-text-color;
  font-size: 1.5rem;
  letter-spacing: .5px;
  line-height: 2rem;
  flex-flow: wrap;
  justify-content: center;

  @media (max-width: $query-size) {
    font-size: 1.2rem;
  }
}

.radio-container {
  @extend .no-select;

  box-sizing: border-box;
  display: flex;
  position: relative;
  height: $min-answer-height;
  align-items: center;
  justify-content: center;
  margin: $answer-margin-size;
  padding: 15px;
  text-align: center;
  flex-basis: $min-answer-width;
  flex-grow: 0;
  flex-shrink: 0;
  
  transition-property: transform;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(0.75, -0.75, 0.25, 1.75);
  
  @media (max-width: $query-size) {
    flex-basis: 1000px; // Weird hack to make it stay full-width
    flex-grow: 1;
    flex-shrink: 1;
    // height: $min-answer-height-mobile;
    height: auto;
    margin: $answer-margin-size-big-mobile;
  }

  @media (max-width: #{$query-size - 100px}) {
    margin: $answer-margin-size-mobile;
  }

  input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    transition-property: background-color;
    
    // Actual styling
    background-color: $answer-background-color;
    border-radius: 10px;
  }
  
  input:checked ~ .checkmark {
    background-color: $answer-background-color--selected;
  }
  
  &:hover {
    transform: scale(1.08);
    
    .checkmark {
      background-color: $answer-background-color--hover;
    }
  }
  
  .label {
    cursor: pointer;
    z-index: 2;
  }
}
